# Core Data Science and ML
pandas
scikit-learn

# NLP 
nltk

# Algoritmo Apriori
mlxtend

# API (Para el próximo paso: api.py)
# Necesitamos estas para crear el servidor web que sirve los resultados
fastapi
uvicorn
gunicorn
